<header class="container py-8 mb-8 sm:mb-16" id="main-header">
  <div class="flex text-center justify-center sm:text-left sm:justify-between flex-wrap">

    <div>
      {{#if @site.logo}}
        <div class="main-header__logo">
          <a href="{{@site.url}}">
            <img src="{{@site.logo}}" alt="{{@site.title}} Logo" />
          </a>
        </div>
      {{/if}}

      <div class="main-header__text-container">
        <h1 class="main-header__blog-title text-red-700 font-bold text-xl font-serif">
          <a href="{{@site.url}}">{{@site.title}}</a>
        </h1>
        <h3 class="main-header__blog-description text-gray-800 mt-1">
          {{@site.description}}
        </h3>
      </div>
    </div>

    <nav class="flex mt-4 sm:mt-0">
      {{navigation}}

      {{#if @labs.members}}
        {{#if @member}}
        <ul>
          <li>
            <a href="{{@site.url}}/account">Account</a>
          </li>
          <li>
            <button role="link" data-members-signout>Sign out</button>
          </li>
        </ul>
        {{else}}
        <ul>
          <li>
            <a href="{{@site.url}}/signin">Log in</a>
          </li>
          <li>
            <a href="{{@site.url}}/signup">Subscribe</a>
          </li>
        </ul>
        {{/if}}
      {{/if}}
    </nav>
  </div>

  <div hidden class="notification-area my-12 p-4" id="notifications">
  </div>
</header>
