{{!< default}}

{{> content-header}}

{{#author}}
  <section class="author-profile container">

    <div class="flex">
      <div class="flex-shrink-0 mr-2 sm:mr-8 w-24 sm:w-32 md:w-48">
        <img class="author-profile__image rounded-full" src="{{profile_image}}" alt="{{name}}’s profile image" />
      </div>

      <div class="flex-shrink">
        <h1 class="author-profile__name text-2xl text-red-700 font-serif mb-2">{{name}}</h1>

        {{#if bio}}
          <p class="author-profile__bio text-base mb-4">{{bio}}</p>
          {{else}}
          <p class="author-profile__bio">
            To let their work speak for itself, {{name}} has not written a bio.
          </p>
        {{/if}}

        <ul class="author-profile__meta text-sm">

          {{#if location}}
            <li class="author-info__location">
              Location: <strong>{{location}}</strong>
            </li>
          {{/if}}

          <li class="author-info__rss mb-2">
              <a href="{{url}}rss">
                  <strong>RSS feed</strong>
              </a> of posts by {{name}}&ensp;
          </li>

          {{#if website}}
            <li class="author-info__website">
              Website: <a href="{{website}}"><strong>{{website}}</strong></a>
            </li>
          {{/if}}

          {{#if twitter}}
            <li class="author-info__twitter">
              Twitter handle: <a href="{{twitter_url}}"><strong>{{name}}</strong></a>
            </li>
          {{/if}}

          {{#if facebook}}
            <li class="author-info__facebook">
              Facebook page: <a href="{{facebook_url}}"><strong>{{facebook_url}}</strong></a>
            </li>
          {{/if}}

        </ul>

      </div>
    </div> {{! end author meta }}

  </section>

  <div class="author-profile__stats container mt-4 sm:mt-6 text-base">
    {{name}}
    {{plural ../pagination.total empty='hasn’t published any posts yet.' singular='has published <strong class="text-red-700">% post</strong>.' plural='has published <strong class="text-red-700">% posts</strong>.'}}
  </div>
{{/author}}

<hr class="container my-6 sm:my-8">

{{! The main content area on the homepage }}
<main class="content container">

  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}

</main>
